body {
  background-color: #f2f2f2;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.screen {
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.screen__output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 50px;
  margin-bottom: 10px;
}

.screen__output--previous {
  font-size: 14px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
}

.screen__output--current {
  font-size: 32px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.button {
  background-color: #3b3b3b;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

/* Styles for different button types */
.button--operator, .button--function {
  background-color: #969696;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.button--operator:hover {
  background-color: #e68a00;
}

.button--zero {
  width: 150px;
}

.button--function:hover {
  background-color: #d9d9d9;
}

.button--equal {
  background-color: #ff8c00;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.button--equal:hover {
  background-color: #e68a00;
}