body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.container {
  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.screen {
  font-size: 3vw;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

.screen__output {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.screen__output--previous {
  font-size: 1.5rem;
  color: #999;
  min-height: 32px;
}

.screen__output--current {
  font-size: 2.5rem;
  color: #333;
  min-height: 64px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.wide {
  grid-column: 1 / -1;
}

.button {
  padding: 15px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f2f2f2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button[data-type="number"] {
  color: #fff;
  background-color: #ff9900;
}

.button[data-type="operator"] {
  color: #fff;
  background-color: #3399ff;
}

.button[data-type="clear"], .button[data-type="delete"] {
  color: #fff;
  background-color: #ff3333;
  grid-column: span 2;
}

.button[data-type="equals"] {
  color: #fff;
  background-color: #66cc66;
}

.button:hover {
  background-color: #ddd;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
